<div class="col-xs-12">
<div class="form-group">
<label for="subreddit_input">Subreddit</label>
<input type="text" class="form-control" data-ng-model="subreddit" id="subreddit_input" data-ng-enter="getPlaylist()" placeholder="Write a subreddit here: (e.g. 'music')">
</div>
</div>


<div class="col-xs-2">
<select class="form-control" data-ng-model="listmodel" id="list-model">
  <option value="default" selected="selected">Default</option>
  <option value="new">New</option>
  <option value="top">Top</option>
</select>
</div>

<div class="col-xs-4" id="best-time" style="display:none">
<select class="form-control" data-ng-model="time">
  <option value="default" selected="selected">Default</option>
  <option value="hour">This hour</option>
  <option value="day">Today</option>
  <option value="week">This week</option>
  <option value="month">This month</option>
  <option value="year">This year</option>
  <option value="all">All time</option>
</select>
</div>

<input type="submit" value="Generate playlist" class="btn btn-primary" data-ng-click="getPlaylist()">

<div class="col-xs-12" style="margin-top: 15px">
<p>Permalink: <a href="{{ abs_url }}">{{ abs_url }}</a></p>
</div>

<hr>
	<a href="" data-ng-click="prevSong()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-backward"></i></a>
	<a href="" data-ng-click="randSong()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-retweet"></i></a>
	<a href="" data-ng-click="nextSong()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-forward"></i></a>
<hr>

<ul class="list-group">
	<li class="list-group-item" data-ng-repeat="song in playlist"><span class="badge">{{ song.score }}</span>
		<a href="" data-ng-click="playSong({{ $index }})">
			<span data-ng-if="$index == currentSong" style="font-weight: bold">{{ song.title }}</span>
			<span data-ng-if="$index != currentSong">{{ song.title }}</span>
		</a>
    <a data-ng-if="$index == currentSong" href="{{ song.reddit_url }}" target="_blank" class="btn btn-xs btn-default">reddit comments ({{ song.reddit_comments }})</a>
	</li>
</ul>